Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-Moment==1.0.6
Flask-OAuthlib==0.9.6
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==0.15.1
mysqlclient==2.1.1
requests==2.25.1
Werkzeug==3.0.3
WTForms==3.1.2

