{% extends "base.html" %} {% block title %}Agent Detail{% endblock %} {% block
content %}
<div class="container" style="background-color: lightblue">
  <div class="row justify-content-center">
    <div class="col-md-8 text-right">
      <h1>{{ user.name }}</h1>
      <img
        src="{{ url_for('static', filename=user.image_url) }}"
        alt=""
        class="img-fluid"
      />
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Description:</strong> {{ user.description }}</p>
      <p><strong>Location:</strong> {{ user.location }}</p>
      <p><strong>Member Since:</strong> {{ user.member_since }}</p>
      <div class="icons mb-2 d-flex align-items-center justify-content-center">
        <a href="https://www.facebook.com" class="text-dark">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com" class="text-dark mx-2">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com" class="text-dark mx-2">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
      <h2>Book an Appointment</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.user_name.label(class="form-label") }} {{
          form.user_name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.user_email.label(class="form-label") }} {{
          form.user_email(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.date.label(class="form-label") }} {{
          form.date(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Book Appointment</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
