{% extends "base.html" %} {% block title %}Agent Detail{% endblock %} {% block
content %}
<div class="container" >
  <div class="row justify-content-center">
    <div class="text-left col-6">
      <h1>{{ user.name }}</h1>
      <img
        src="{{ url_for('static', filename=user.image_url) }}"
        alt=""
        class="img-fluid"
      />
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Description:</strong> {{ user.description }}</p>
      <p><strong>Location:</strong> {{ user.location }}</p>
      <p><strong>Member Since:</strong> {{ user.member_since }}</p>
      <p>
        Average Rating: {% if avg_rating %}
        <span>
          {% for i in range(1, 6) %}
          <i
            class="fa fa-star{% if i > avg_rating %}-o{% endif %}"
            aria-hidden="true"
          ></i>
          {% endfor %}
        </span>
        ({{ avg_rating }}) {% else %} No ratings yet {% endif %}
      </p>

      <div class="icons mb-2 d-flex align-items-center justify-content-center">
        <a href="https://www.facebook.com" class="text-dark">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com" class="text-dark mx-2">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com" class="text-dark mx-2">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">

        <h4>Send a Message</h4>
        <form
          method="POST"
          action="{{ url_for('main.agent', name=user.name) }}"
        >
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email.label(class="form-label") }} {{
            form.email(class="form-control rounded-pill") }}
          </div>
          <div class="form-group">
            {{ form.content.label(class="form-label") }} {{
            form.content(class="form-control") }}
          </div>
          <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary rounded") }}
          </div>
        </form>


        <h3 class="mt-5">Rate this Agent</h3>
        <form
          method="POST"
          action="{{ url_for('main.rate_agent', name=user.name) }}"
        >
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label for="rating" class="form-label">Rating</label>
            <select name="rating" id="rating" class="form-select" required>
              <option value="" selected disabled>Choose a rating</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit Rating</button>
        </form>

    </div>
  </div>
</div>
{% endblock %}
