{% extends "base.html" %}
{% block title %}Appointments{% endblock %}
{% block content %}
<div class="container">
  <h1>Your Appointments</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">User Email</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ appointment.user_name }}</td>
        <td>{{ appointment.user_email }}</td>
        <td>{{ appointment.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}