{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<style>
  html,
  body {
    height: 100%;
  }
  .container-fluid {
    background-image: url("{{ url_for('static', filename='images/pexel.jpg') }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    margin-bottom: 50px;
  }

  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e3f2fd;
  }
  .small-dash {
    width: 50px;
    border: 1px solid #0684df;
    margin: 10px auto;
  }
  .profile_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .services{
  background-color: #f8f9fa;
  }
</style>
<div class="container">
  <div class="container-fluid d-flex align-items-center justify-content-center mb-12 vh-100">
    <div class="row justify-content-center w-100">
      <div class="content col-md-8 text-center">
        <h1 style="color: #fff">
          Welcome to
          <span class="bg-warning rounded p-3">Rentnest Directory</span>
        </h1>
        <p class="text-center mt-4" style="color: #fff">
          Your one-stop solution for finding real estate agents, movers, and
          cleaners.
        </p>
        <a
          class="btn btn-primary rounded-pill"
          href="{{ url_for('main.find_agent') }} "
          >Find Agent</a
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center pb-5">
      <h2>Why Rentnest</h2>
      <hr class="small-dash">
      <p>
        Why Rentnest? Trusted Agents, Seamless Bookings, and Stress-Free Solutions for Your Real Estate Needs.
      </p>
    </div>
  </div>
  <div class="flex d-flex-column services">

      <div class="text-center flex d-flex flex-row mt-5">
        <div class="card_image col-6">
          <img src="{{ url_for('static', filename='images/hpuse3.jpg') }}" alt="house" class="img-fluid rounded">
        </div>

        <div class="card-body col-6">

          <h2>Reliable Agents</h2>
          <p class="text-start p-5">
            Finding trustworthy agents can be a challenge, but we make it easy.<br>
            Our platform connects you with top-rated professionals who are committed to delivering exceptional service.<br>
            Every agent undergoes a thorough vetting process, ensuring they meet our high standards of reliability and expertise.<br>
          </p>
        </div>
      </div>


      <div class="text-center flex d-flex flex-row mt-5">
        <div class="card-body col-6">
          <h2>Efficient Movers</h2>
          <p class="text-start p-5">
            When it comes to moving, efficiency is key.
            Our movers are trained to handle your belongings with care while ensuring a smooth and timely transition to your new home.
            From packing to unloading, we prioritize speed and safety to give you peace of mind. <br>
          </p>
        </div>
        <div class="card_image col-6" >
          <img src="{{ url_for('static', filename='images/house2.jpg') }}" alt="house" class="img-fluid rounded">
        </div>
      </div>


      <div class="text-center flex d-flex flex-row mt-5">
        <div class="card_image col-6">
          <img src="{{ url_for('static', filename='images/house.jpg') }}" alt="house" class="img-fluid rounded">
        </div>
        <div class="card-body col-6">
          <h2>Professional Cleaners</h2>
          <p class="text-start p-5">
            A clean space is essential for your well-being, and our professional cleaners are here to make it effortless.
            With attention to detail and a commitment to excellence, we ensure your home or office shines from top to bottom.
            Our team uses eco-friendly products and proven techniques to deliver spotless results every time. <br>

          </p>
        </div>
      </div>

  </div>

  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2>Featured Agents</h2>
      <hr class="small-dash">
      <p>
        Meet Our Featured Agents: Top-Rated Professionals Dedicated to Helping You Find Your Perfect Home.
      </p>
    </div>
  </div>

  <div class="row">
    {% for user in featured_agents %}
    <div class="col-md-4">
      <div class="card mt-4">
        <div class="card-body text-center">
          <h2>{{ user.name }}</h2>
          <img
            src="{{ url_for('static', filename=user.image_url) }}"
            alt=""
            class="img-fluid profile_img"
          />
          <p><strong>Description:</strong> {{ user.description }}</p>
          <p><strong>Location:</strong> {{ user.location }}</p>
          <div
            class="icons mb-2 d-flex align-items-center justify-content-center"
          >
            <a href="https://www.facebook.com" class="text-dark">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.twitter.com" class="text-dark mx-2">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com" class="text-dark mx-2">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>

          <a
            href="{{ url_for('main.agent', name=user.name) }}"
            class="btn btn-primary rounded-pill"
            >More Info</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="container mt-5">
    <h2 class="text-center">Latest Blogs</h2>
    <hr class="small-dash">
    <p class="text-center">Tips to keep your house clean, safe, and practical</p>
    <div class="flex d-flex flex-column bg-light mt-5">

        <div class="mb-4 flex d-flex flex-row">
          <div class="image col-6">
            <img src="{{ url_for('static', filename='images/home.jpg') }}" class="img-fluid rounded" alt="Blog 1">
          </div>
          <div class="card-body col-6" >
            <h3 class="card-title">Kitchen Organization</h3>
            <span> <b>Written by:</b> Admin</span>
            <p class="card-text">A brief description of the first blog. This is a summary of the content to entice readers to click through and read more.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>


        <div class="mb-4 flex d-flex flex-row">
          <div class="image col-6">
            <img src="{{ url_for('static', filename='images/home2.jpg') }}" class="img-fluid rounded" alt="Blog 1">
          </div>
          <div class="card-body col-6 ">
            <h3 class="card-title">Pet-Friendly Spaces</h3>
            <span> <b>Written by:</b> Admin</span>
            <p class="card-text">A brief description of the first blog. This is a summary of the content to entice readers to click through and read more.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>

    </div>
  </div>
  <h2 class="text-center mt-3">Need Help?</h2>
  <div class="contact_form d-flex justify-content-center align-items-center">
    <form action="/submit_contact" method="post" class="mt-4">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" required />
        </div>
        <div class="mb-3">
          <label for="company" class="form-label">Company Name</label>
          <input
            type="text"
            class="form-control"
            id="company"
            name="company"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="4"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
</div>
{% endblock %}
