{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Welcome to Home Helper Directory</h1>
            <p>Your one-stop solution for finding real estate agents, movers, and cleaners.</p>

            <div class="card">
                <div class="card-body">
                    {% if current_user.is_authenticated %}
                        <!-- Place the image at the top -->
                        <img src="{{ url_for('static', filename=current_user.image_url) }}" alt="Profile Image" class="img-thumbnail mb-3">

                        <!-- Display the user's details below the image -->
                        <h2>Hello, {{ current_user.name }}</h2>
                        <p><strong>Name:</strong> {{ current_user.name }}</p>
                        <p><strong>Email:</strong> {{ current_user.email }}</p>
                        <p><strong>Description:</strong> {{ current_user.description }}</p>
                        <p><strong>Location:</strong> {{ current_user.location }}</p>

                        {% if user == current_user %}
                            <a class="btn btn-primary" href="{{ url_for('.edit_profile') }}">
                              Edit Profile
                            </a>
                            <a class="btn btn-danger" href="{{ url_for('.delete_profile') }}">
                              Delete Profile
                            </a>
                        {% endif %}
                    {% else %}
                        <p>Stranger</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
